<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% page_title = current_page.data.title %>
  <title><%= title %><%= " - #{page_title}" if page_title %></title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="<%= description %>">
  <link rel="canonical" href="<%= site_url %><%= current_page.url %>">
  <%= stylesheet_link_tag 'main' %>
</head>
<body>

  <article class="everything">
    <%= partial 'nav_menu' %>

    <section class="content">
      <%= yield %>
    </section>
  </article>

  <link class="js-awesome-font-link" rel="stylesheet">
  <%= javascript_include_tag 'main' %>
  <%= partial 'tracking' %>
</body>
</html>
