<header class="nav-menu">
  <% link_to '/index.html', class: 'nav-menu__home' do %>
    <h1>
      Alexandra Carr
    </h1>
    <h2>
      Sculptor and artist
    </h2>
    <p class="phi">Φ</p>
  <% end %>
  <nav class="nav-menu__nav">
    <%= link_to 'Home', 'index.html' %>
    <%= link_to 'About', 'about.html' %>
    <%= link_to 'Biography', 'biography.html' %>
    <%= link_to 'Gallery', 'gallery.html' %>
    <%= link_to 'Video', 'video.html' %>
    <%= link_to 'Project', 'projects.html' %>
    <%= link_to 'Contact', 'contact.html' %>
  </nav>
  <nav class="nav-menu__social-icons">
    <% link_to 'http://instagram.com/alexcarrsculptor' do %>
      <i class="fa fa-instagram"></i>
    <% end %>
    <% link_to 'https://www.facebook.com/alexandracarrartist' do %>
      <i class="fa fa-facebook-square"></i>
    <% end %>
    <% link_to 'https://twitter.com/alexlovesclay' do %>
      <i class="fa fa-twitter-square"></i>
    <% end %>
    <% link_to 'http://alexlovesclay.tumblr.com/' do %>
      <i class="fa fa-tumblr-square"></i>
    <% end %>
    <% link_to 'https://plus.google.com/105511990246410151730/posts' do %>
      <i class="fa fa-google-plus-square"></i>
    <% end %>
    <% link_to 'https://vimeo.com/user22515611' do %>
      <i class="fa fa-vimeo-square"></i>
    <% end %>
  </nav>
</header>
