<header class="nav-menu">
  <% link_to '/index.html', class: 'nav-menu__home' do %>
    <h1>
      Alexandra Carr
    </h1>
    <h2>
      Sculptor and artist
    </h2>
    <p class="phi">Φ</p>
  <% end %>
  <nav class="nav-menu__nav">
    <%= link_to 'Home', 'index.html' %>
    <%= link_to 'About', 'about.html' %>
    <%= link_to 'Biography', 'biography.html' %>
    <%= link_to 'Gallery', 'gallery.html' %>
    <%= link_to 'Video', 'video.html' %>
    <%= link_to 'Project', 'projects.html' %>
    <%= link_to 'Contact', 'contact.html' %>
  </nav>
  <nav class="nav-menu__social-icons">
    <% link_to 'index.html' do %>
      <i class="fa fa-rss"></i>
    <% end %>
      <i class="fa fa-rss"></i>
    <% link_to 'about.html' do %>
      <i class="fa fa-rss"></i>
    <% end %>
      <i class="fa fa-rss"></i>
    <% link_to 'biography.html' do %>
      <i class="fa fa-rss"></i>
    <% end %>
      <i class="fa fa-rss"></i>
    <% link_to 'gallery.html' do %>
      <i class="fa fa-rss"></i>
    <% end %>
      <i class="fa fa-rss"></i>
    <% link_to 'video.html' do %>
      <i class="fa fa-rss"></i>
    <% end %>
      <i class="fa fa-rss"></i>
    <% link_to 'projects.html' do %>
      <i class="fa fa-rss"></i>
    <% end %>
      <i class="fa fa-rss"></i>
    <% link_to 'contact.html' do %>
      <i class="fa fa-rss"></i>
    <% end %>
  </nav>
</header>
