<a href="<%= ext_image_url image %>">
  <%= ext_image image %>
</a>

<nav class="gallery__nav">
  <% if index > 0 %>
    <a href="/gallery/<%= parent.downcase %>/0">First</a>
    <a href="/gallery/<%= parent.downcase %>/<%= index - 1 %>">Previous</a>
  <% else %>
    <span>First</span>
    <span>Previous</span>
  <% end %>

  <span class="gallery__position">
    <%= index + 1 %> of <%= count %>
  </span>

  <% if index < count - 1 %>
    <a href="/gallery/<%= parent.downcase %>/<%= index + 1 %>">Next</a>
    <a href="/gallery/<%= parent.downcase %>/<%= count %>">Last</a>
  <% else %>
    <span>Next</span>
    <span>Last</span>
  <% end %>
<nav>

<a href="/gallery/">
  Back to gallery
</a>


<%# <a href="/gallery/<%= parent.downcase %1>"> %>
<%#   Back to <%= parent %1> %>
<%# </a> %>
